#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    projectTitle: Machy's Sandbox
    mailFrom: Mach5 <info@mach5.cz>
    mailAdmin: machacek@flexdesign.cz


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes


services:
	- App\Forms\FormFactory
	router: App\Router\RouterFactory::createRouter
