{* This is the welcome page, you can delete it *}

{block content}
    <h1 n:block="title">Kontakt</h1>
    <p>Vyplňte náš krásný formulář!</p>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-xs-6">
        {control contactForm}
        </div>
    </div>
{/block}
